CONTOH 1 KODING TUPPLE AND DICTIONARY

In [ ]:
# Contoh Tuple yang berisi informasi mahasiswa
mahasiswa1 = ('Vijja Setiadi', 19, 'Informatika')
mahasiswa2 = ('Aldi Nayaka', 20, 'Sistem Informasi')

# Membuat Dictionary yang menyimpan informasi lebih lanjut tentang mahasiswa
info_mahasiswa = {
    'vijja_setiadi': {'nama': 'Vijja Setiadi', 'usia': 19, 'jurusan': 'Informatika', 'nilai': [85, 90, 78]},
    'aldi_nayaka': {'nama': 'Aldi Nayaka', 'usia': 20, 'jurusan': 'Sistem Informasi', 'nilai': [92, 88, 95]}
}

# Fungsi untuk menghitung rata-rata nilai mahasiswa
def hitung_rata_rata(nilai):
    return sum(nilai) / len(nilai)

# Menampilkan informasi mahasiswa
for key, value in info_mahasiswa.items():
    print(f"\nInformasi Mahasiswa {key}:")
    print(f"Nama: {value['nama']}")
    print(f"Usia: {value['usia']}")
    print(f"Jurusan: {value['jurusan']}")
    print(f"Nilai Rata-rata: {hitung_rata_rata(value['nilai'])}")

# Menambahkan mahasiswa baru ke dalam tuple dan dictionary
mahasiswa_baru = ('Vito Angelo', 19, 'Teknik Elektro')
info_mahasiswa['vito_angelo'] = {'nama': 'Vito Angelo', 'usia': 19, 'jurusan': 'Teknik Elektro', 'nilai': [80, 75, 88]}

# Menampilkan informasi mahasiswa setelah penambahan
print("\nSetelah Menambahkan Mahasiswa Baru:")
for key, value in info_mahasiswa.items():
    print(f"\nInformasi Mahasiswa {key}:")
    print(f"Nama: {value['nama']}")
    print(f"Usia: {value['usia']}")
    print(f"Jurusan: {value['jurusan']}")
    print(f"Nilai Rata-rata: {hitung_rata_rata(value['nilai'])}")

Informasi Mahasiswa vijja_setiadi:
Nama: Vijja Setiadi
Usia: 19
Jurusan: Informatika
Nilai Rata-rata: 84.33333333333333

Informasi Mahasiswa aldi_nayaka:
Nama: Aldi Nayaka
Usia: 20
Jurusan: Sistem Informasi
Nilai Rata-rata: 91.66666666666667

Setelah Menambahkan Mahasiswa Baru:

Informasi Mahasiswa vijja_setiadi:
Nama: Vijja Setiadi
Usia: 19
Jurusan: Informatika
Nilai Rata-rata: 84.33333333333333

Informasi Mahasiswa aldi_nayaka:
Nama: Aldi Nayaka
Usia: 20
Jurusan: Sistem Informasi
Nilai Rata-rata: 91.66666666666667

Informasi Mahasiswa vito_angelo:
Nama: Vito Angelo
Usia: 19
Jurusan: Teknik Elektro
Nilai Rata-rata: 81.0

CONTOH 2 KODING TUPLE AND DICTIONARY

In [ ]:
# Tuple berisi informasi tentang seorang siswa
siswa_info = ('Gabriella Felista', 19, 'Grade 12', ['Matematika', 'Fisika', 'Kimia'])

# Dictionary berisi informasi tambahan tentang mata pelajaran dan nilai siswa
nilai_siswa = {
    'Matematika': 90,
    'Fisika': 85,
    'Kimia': 88
}

# Menambahkan informasi nilai ke dalam tuple
siswa_info_with_nilai = siswa_info + (nilai_siswa,)

# Menampilkan informasi siswa dan nilai
print("Informasi Siswa:")
print("Nama: ", siswa_info_with_nilai[0])
print("Usia: ", siswa_info_with_nilai[1])
print("Kelas: ", siswa_info_with_nilai[2])
print("Mata Pelajaran: ", siswa_info_with_nilai[3])

print("\nNilai Siswa:")
for pelajaran, nilai in nilai_siswa.items():
    print(f"{pelajaran}: {nilai}")

# Menghitung rata-rata nilai
rata_rata_nilai = sum(nilai_siswa.values()) / len(nilai_siswa)
print("\nRata-rata Nilai: ", rata_rata_nilai)

Informasi Siswa:
Nama:  Gabriella Felista
Usia:  19
Kelas:  Grade 12
Mata Pelajaran:  ['Matematika', 'Fisika', 'Kimia']

Nilai Siswa:
Matematika: 90
Fisika: 85
Kimia: 88

Rata-rata Nilai:  87.66666666666667